<form hx-put="/todos/{{ item.id }}" hx-target="#todo_edit_add" hx-swap="outerHTML">
    <div><label>Thing to do</label>
        <input autofocus type="text" name="note" value="{{ item.note }}">
        <input type="hidden" name="id" value="{{ item.id }}">

    <button class="btn btn-primary">Submit</button>
    <button hx-get="/todos/" class="btn" hx-target="#bod" hx-swap="innerHTML">
        Cancel
    </button>
    </div>
</form>