<!DOCTYPE html>
<body id="bod">
<script src="/static/htmx.min.js"></script>

<section id="edit_todo">
{{#each items}}
    <div hx-target="this" hx-swap="outerHTML">
        <div><label>Thing to do</label>: {{ this.note }}
        <button hx-get="/todos/{{ this.id }}/edit" class="btn btn-primary">
            Click To Edit
        </button>
        </div>
    </div>
{{/each}}
</section>

<section id="hello">
    <h1>Hi {{ name }}!</h1>
    <h3>Here are your to do items:</h3>
    <ul>
        {{#each items}}
            <li>{{ this.note }}</li>
        {{/each}}
    </ul>
</section>

<section id="custom-helper">
    <p>Try going to <a href="/hello/Your%20Name">/hello/Your Name</a>.</p>

</section>
<section id="htmx-demo">

    <!-- have a button POST a click via AJAX -->
    <button hx-post="/clicked" hx-swap="outerHTML">
        Click Me
    </button>

</section>

<section id="add-item">
    <form id="add" action="/todos" method="post">
    <div>
        <label>Thing to do</label>
        <input type="text" name="note">
        <button class="btn">Submit</button>
    </div>
    </form>
</section>

</body>
{{> layout}}