<div id="todo_edit_add">
    <section id="edit_todo">
        <h1>To do list</h1>
        {{#each items}}
            <div hx-target="this" hx-swap="outerHTML">
                <div><label>Thing to do</label>: {{ this.note }}
                    <button hx-get="/todos/{{ this.id }}/edit" class="btn btn-primary">
                        Click To Edit
                    </button>
                    <button hx-delete="/todos/{{ this.id }}" hx-target="#todo_edit_add" hx-confirm="Please confirm you want to delete (there is no Undo)">Delete</button>
                </div>
            </div>
        {{/each}}
    </section>

    <section id="add-item">
        <h1>Add item</h1>
        <form id="add" hx-post="/todos" hx-target="#todo_edit_add">
            <div>
                <label>New thing to do</label>
                <input type="text" name="note">
                <button class="btn">Submit</button>
            </div>
        </form>
    </section>
</div>