<!DOCTYPE html>
<body id="bod">
<script src="/static/htmx.min.js"></script>

{{ > todo-edit-add }}

<details>
    <summary>Help</summary>
    <p>This page shows your to do list items.  You can add new things to do at the bottom of the page.</p>
</details>
</body>
{{> layout}}