<!DOCTYPE html>
<body id="bod">
<script src="/static/htmx.min.js"></script>

{{ > todo-edit-add }}
<br/>
<details>
    <summary>Click here to show or hide help</summary>
    <p>This page shows your to do list items.  You can add new things to do at the bottom of the page.</p>
</details>
</body>
{{> layout}}