<!DOCTYPE html>
<body id="bod">
<script src="/static/htmx.min.js"></script>
<!--<style>-->
<!--@media (prefers-color-scheme: dark) {-->
<!--    * { background-color: inherit;-->
<!--        color: inherit;-->
<!--    }-->

<!--    html,-->
<!--    img:not([src$='.svg']) {-->
<!--        filter: invert(1) hue-rotate(180deg);-->
<!--    }-->
<!--}-->
<!--</style>-->
<section>
    <title>Do ten things</title>
</section>
{{ > todo-edit-add }}
<br/>
<details>
    <summary accesskey="h">Click here to show or hide help (Alt-H in Edge/Chrome, Alt-Shift-H in Firefox, Ctrl+Alt-H on Mac)</summary>
    <p>This page shows your to do list items.  You can add new things to do at the bottom of the page.
    <b>A maximum of ten to do list items are shown.</b>
    The only way to see if you have more than 10 things is to get something done that you can see and delete it.</p>
    <section>
        <h3>Keyboard shortcuts</h3>
        <p><em>Access key</em> is different on different computers and browsers.  From most likely to least likely it may be: Alt, Alt+Shift or Ctrl+Alt (Mac).</p>
        <ol>
            <li>Toggle Help: <em>Access Key</em> + H</li>
            <li>Add a new todo item: <em>Access Key</em> + N</li>
            <li>Edit todo item: Ctrl-Alt + 0-9</li>
            <li>Delete todo item: Shift + 0-9</li>
        </ol>
    </section>

</details>
</body>
{{> layout}}