<!DOCTYPE html>
<body id="bod">
<script src="/static/htmx.min.js"></script>

<section id="edit_todo">
{{#each items}}
    <div hx-target="this" hx-swap="outerHTML">
        <div><label>Thing to do</label>: {{ this.note }}
        <button hx-get="/todos/{{ this.id }}/edit" class="btn btn-primary">
            Click To Edit
        </button>
        </div>
    </div>
{{/each}}
</section>

<section id="add-item">
    <form id="add" action="/todos" method="post">
    <div>
        <label>Thing to do</label>
        <input type="text" name="note">
        <button class="btn">Submit</button>
    </div>
    </form>
</section>

</body>
{{> layout}}